.file-upload{display: flex;}

.product-img{width: 150px; height: 150px;}

.radio-select-wrapper{display: flex; justify-content: flex-start; align-items: flex-start; cursor: pointer;}
.radio-select-wrapper label{cursor: pointer;}
.radio-select{margin-top: 8px; margin-right: 3px;}

.main-container.loading{position:relative; }
.main-container.loading:after{content: ""; display: block; width: 100%; height: 100%; background-color: #fff; opacity: 0.6; position: absolute; top: 0; left: 0;}
